<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ATL</string>
	<string>BWI</string>
	<string>DAL</string>
	<string>DEN</string>
	<string>HOU</string>
	<string>LAS</string>
	<string>LAX</string>
	<string>MCO</string>
	<string>MDW</string>
	<string>OAK</string>
	<string>PHX</string>
</array>
</plist>
